* {
    background-color: rgb(235, 85, 110);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    height: 100vh;
}

.header {
    font-size: 150px;
}

a:link{
    color: white;
    text-decoration: underline;
}
