body{
    background-color:#f2f2f2;
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.close-button{
    position: absolute;
    top: 15px;
    right:15px;
}
.promo {
    text-align: center;
    position: absolute;
    background-color: #fff;
    padding: 20px;
    border-top-right-radius: 25px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
    color: #c70039;
}

.discount{
    color: orangered;
}

.get-gift{
    background-color: #c70039;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
}
.close-button{
        color: black;
        border: none;
        background:none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
}

img{
    width: 100px;
    height: 100px;
}
